<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">

<head>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practyl Panel | Crear tarjeta de regalo</title>
</head>

<body style="background-color: rgb(26, 26, 26);">

    <%- include("../parts/header.ejs") %>

        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"
                    style="border-radius: 10px; height: 85vh; margin-left: 15px; width: 30vh;">
                    <%- include("../parts/sidebar.ejs") %>
                </div>
                <div class="col py-3">
                    <div
                        style="margin-top: -16px;padding: 5px; border-radius: 10px; background-color: rgb(33,37,41); height: 85vh;">
                        <div style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
                        <div style="display:flex; justify-content: center; align-items: center; padding-top: 5%;">
                            <div
                                style="width: 460px; height: 440px; background-color: rgb(65, 69, 69); border-radius: 15px;">
                                <center>
                                    <h2 style="margin-top: 30px;">Crear tarjeta de regalo</h2>
                                </center>
                                <div id="formCreate">
                                    <form style="padding: 20px; padding-bottom: 5px;">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" id="code" autocomplete="off"
                                                placeholder="Codigo (No requerido)">
                                        </div>
                                        <div class="mb-3">
                                            <input type="number" class="form-control" id="maxUses" autocomplete="off"
                                                placeholder="Usos maximos (No requerido)">
                                        </div>
                                        <div class="mb-3">
                                            <div style="display: flex;">
                                                <input type="number" class="form-control" id="coins"
                                                    autocomplete="off" style="width: 100%;" placeholder="Coins (Requerido)">
                                            </div>
                                        </div>
                                        <div style="padding-top: 120px;">
                                            <button id="btnCreate" onclick="create()" class="btn btn-primary"
                                                style="width: 100%;">Crear Servidor</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>
<script src="/js/admin-giftcard.js"></script>

</html>