/* Estilo para SweetAlert2 en modo oscuro */
.swal2-popup {
  background-color: #2c2c2c !important;
  border-radius: 30px;
  color: #fff !important;
}

.swal2-title {
  color: #fff !important;
}

.swal2-content {
  color: #fff !important;
}

.swal2-confirm, .swal2-cancel {
  border: 2px solid #fff !important;
  color: #fff !important;
}

.swal2-confirm:focus, .swal2-cancel:focus {
  outline: none !important;
  box-shadow: none !important;
}