<link href="/css/sweetalert.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<script src="/js/sweetalert.js"></script>
<script src="/js/bootstrap.js"></script>

<head>
  <% if (config.arcio.enabled === true) { %>
    <script async src="https://arc.io/widget.min.js#<%= config.arcio.id %>"></script>
    <% } %>
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="border-radius: 15px; margin: 15px;">
  <div class="container-fluid">
    <img src="/img/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"
      style="padding-right: 5px; border-radius: 100%;">
    <a class="navbar-brand" href="/">Practyl</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">
            <div style="display:flex">
              <svg width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                <path d="M10 12h4v4h-4z"></path>
             </svg>
              Inicio
            </div>
          </a>
        </li>
        <% if(!req.session.user) { %>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/login">
              <div style="display: flex">
                <svg width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z"></path>
                  <path d="M15 9h.01"></path>
               </svg>
                Iniciar Sesion
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/register">
              <div style="display: flex">
                <svg width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z"></path>
                  <path d="M15 9h.01"></path>
               </svg>
                Registrarse
              </div>
            </a>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/account">
                <div style="display: flex">
                  <svg width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                 </svg>
                  Cuenta
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/api/logout">
                <div style="display: flex">
                  <svg width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                    <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                 </svg>
                  Cerrar sesión
                </div>
              </a>
            </li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>

<% if(req.session.user && !req.session.user.key) { %>
  <script>
    Swal.fire({
      icon: 'error',
      title: 'Client key no establecida.',
      text: 'No tienes una client key establecida o la que tienes no funciona. Debes establecer una para aprovechar el maximo rendimiento del dashboard.',
      footer: '<a href="/account">Establecer client key.</a>'
    })
  </script>
  <% } %>

    <style>
      ::-webkit-scrollbar {
        width: 5px;
      }

      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px black;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
      }
    </style>