<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">

<head>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- (config.general.name ?? "Practyl Panel") %> | Configuracion</title>
</head>

<body style="background-color: rgb(26, 26, 26);">

    <%- include("../parts/header.ejs") %>

        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"
                    style="border-radius: 10px; height: 85vh; margin-left: 15px; width: 30vh;">
                    <%- include("../parts/sidebar.ejs") %>
                </div>
                <div class="col py-3">
                    <div
                        style="margin-top: -16px;padding: 5px; border-radius: 10px; background-color: rgb(33,37,41); height: 85vh;">
                        <div style="text-align: center;">
                            <h1>Instalacion <b>Practyl</b>.</h1>
                        <h2>La dashboard esta deshabilitada hasta rellenar esta configuracion.</h2>
                            <h3>Debes poner la contraseña que sale en la consola.</h2>
                            <h4>Si no puedes ver la contraseña en la consola, reinicia el proceso.</h3>
                            <div style="display: flex; align-items: center; justify-content: center; margin-top: 50px;">
                                <input id="pwd" style="border: 0px; border-radius: 10px; padding: 5px; width: 30%;"
                                type="text" placeholder="Ejemplo: uOARurnCkY">
                            <button id="accessPwd"
                                style="border-width: 0; border-radius: 20px; background-color: green; color: #fff; margin-left: 5px; width: 8%; padding: 5px">
                                <svg width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                    <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                                 </svg>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>

<script src="/js/configure-access.js"></script>

</html>