<style>
    body {
        background-color: #2a2a2a;
    }
</style>


<center>
    <div style="border-radius: 20px; background-color: #1e1e1e; margin: 10%; color: #fff; padding: 5%">
        <h1><b>Dispositivo no soportado.</b></h1><br>
        <h2>El dispositivo que estas usando, no es compatible con esta dashboard.</h2><br>
        <h3>Puedes seguir usandola si activas la opcion de <b>"vista de escritorio"</b> en google chrome, pero no lo recomendamos.</h3>
        <h4>Actualmente, el equipo de <a href="https://github.com/TutoMineYT/Practyl">Practyl</a> esta trabajando en desarollar compatibilidad.</h4>
    </div>
</center>

<div style="background-color: #1e1e1e; padding: 10px; margin: 20px; border-radius: 10px; text-align: center; color: #fff">
    &copy <%= new Date().getFullYear() %> · <a href="https://github.com/TutoMineYT/Practyl">Practyl dashboard.</a>
</div>